@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    list-style-type: none;

    box-sizing: border-box;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

:root {
    --mainFont: "Poppins", sans-serif;
}

.container_general {
    header {
        padding: .8em;
        
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .home {
            img {
                width: 10em;
            }
        }

        nav {
            display: flex;
            .open-menu {
                width: 3em;
                cursor: pointer;
            }

            ul {
                display: none;
                li {
                    text-align: right;
                    a {}
                }
            }
        }
    }

    main {
        #home {
            // .blackness {
            //     min-height: 100vh;
            //     background-color: #0000000b;
            // }

            min-height: 100vh;
            background-image: url("../images/backgrounds/anudeep-unsplash.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        #about {}
        #products {}
        #contact {}
    }
}